body {
    color: #999;
}

.playing-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 550px;
    height: 550px;
    margin: auto;
    background-color: #69411a;
    border: 2px solid #000000;
    border-radius: 20%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #fcd9aa;
    border: 2px solid #000000;
    border-radius: 50%;
}

.character {
    width: 80%;
    height: 80%;
}
